<div class="row">
    <div class="col-md-12">
        <div class="well text-center">
            <p>
                <a href="@Url.Action("GetChallenge","Challenge1")">Get Challenge 1</a>
                <br />
                <a href="@Url.Action("PostChallenge","Challenge1")">Post Challenge 1</a>
            </p>
        </div>
    </div>
</div>