<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                @ViewBag.test
            </p>
            <p>
                @ViewBag.responseMessage
            </p>
        </div>
    </div>
</div>

